*.pyc
*.json
*.arrow
__pycache__/
outputs/
figures/
.env
.vscode
config/bias
data/reddit_comments/
data/vis_dialogue
data/wikitext
data/wordle
data/hackernews_rl_dataset
data/bias_sentences
data/workable_rl_dataset
scripts/data/bias
scripts/train/bias
scripts/eval/hackernews/buseskorkmaz
scripts/eval/bias
src/bias
tests/
!src/data/
!scripts/data/
*.rdb
*.zip
.DS_Store
*.swp
.env
