*.pyc
*.json
*.arrow
!analysis/input_files/
__pycache__/
outputs/
figures/
.env
.vscode
config/bias
data/reddit_comments/
data/biasinbios_batches/
data/vis_dialogue
data/wikitext
data/wordle
data/bias_sentences
data/workable_rl_dataset
scripts/data/bias
scripts/train/bias
scripts/eval/hackernews/buseskorkmaz
scripts/eval/bias
src/bias
tests/
!src/data/
!scripts/data/
*.rdb
*.zip
.DS_Store
*.swp
.env
benchmarking/*/*.sh
benchmarking/*/*.sh.o*
benchmarking/*/*.sh.e*
benchmarking/*.sh
benchmarking/*.sh.o*
benchmarking/*.sh.e*
benchmarking/*.e*
benchmarking/*.o*
logs/
*.o*
*.e*
*.log
*.jsonl
src/utils/checkpointing_utils.py
src/utils/fsdp_utils.py
src/utils/llama.py
src/utils/policies/
src/utils/train_utils.py
src/utils/wrapping.py
scripts/train/llama_bc_recipes_train_loop.py
benchmarking/diversity_benchmark.py
benchmarking/diversity_benchmark_results/benchmark_impact_ratio.ipynb
benchmarking/inlp/inlp_debiasing.py
benchmarking/language_quality_benchmark_autorefine.py
benchmarking/language_quality_benchmarking.py
benchmarking/language_quality_results/language_quality_benchmark_analysis.ipynb
benchmarking/sentence-debiasing/sentence_debias.py
scripts/train/hackernews/outputs
scripts/train/hackernews/train_dpo.pyc
scripts/train/dpo_train_loop.py
data/hackernews_rl_dataset/hackernews_explore.ipynb
data/hackernews_rl_dataset/hackernews_occup_label.py